#nice {
    border-radius: 50px; /* Уголки */
}
#ban{
    padding-right: 37px;
    margin-bottom: 5px;
}
#ban1{
    padding-right: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#ban2{
    padding-right: 30px;
    margin-bottom: 5px;
}